.page-decription,
.project-title-text,
.project-description-text {
  align-self: stretch;
  position: relative;
}

.page-title {
  font-size: 2.5rem; /* Larger title size */
  text-align: center;
  font-weight: bold;
  color: var(--color-black); /* Adjust to fit your color theme */
}

.introduction {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.5rem; /* Increase font size for header */
  font-weight: bold;
  color: var(--color-black);
  padding: 32px;
  margin-bottom: 48px;
}

.project-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.5rem; /* Subtitle-like text */
  font-weight: 600;
  color: var(--color-black);
}

.project-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 1rem; /* Subtitle-like text */
  font-weight: 600;
  color: var(--color-black);
  padding: 10px;
}

.Cox-page-section,
.gt-page-section,
.personal-projects-page-section,
.resume-page-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */ /* Full viewport height */
}

.Cox-page-section {
  background: linear-gradient(
      to bottom,
      /* Direction of the gradient */ rgba(17, 101, 170, 0.5) 0%,
      /* Transparent at the top */ rgba(104, 180, 237, 0.5) 30%,
      /* Full image visibility */ rgba(255, 255, 255, 1) 80%
        /* Color at the bottom */
    ),
    url("../Cox.png"); /* Background image */
}
.gt-page-section {
  background: linear-gradient(
      to bottom,
      /* Direction of the gradient */ rgba(232, 203, 14, 0.75) 0%,
      /* Transparent at the top */ rgba(249, 239, 180, 1) 40%,
      /* Full image visibility */ rgba(255, 255, 255, 1) 100%
        /* Color at the bottom */
    ),
    url("../GaTech.png"); /* Background image */
}
.personal-projects-page-section {
  background: linear-gradient(
    to bottom,
    /* Direction of the gradient */ rgba(81, 149, 89, 1) 0%,
    /* Transparent at the top */ rgba(87, 203, 166, 1) 20%,
    /* Full image visibility */ rgba(255, 255, 255, 1) 50%
      /* Color at the bottom */
  );
}
.resume-page-section {
  background: linear-gradient(
    to bottom,
    /* Direction of the gradient */ rgb(241, 121, 16) 0%,
    /* Transparent at the top */ rgb(233, 204, 151) 20%,
    /* Full image visibility */ rgba(255, 255, 255, 1) 50%
      /* Color at the bottom */
  );
}

.youtube-video {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 600px;
  margin-bottom: 48px;
  border: none;
}

.pdf-viewer {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 10px solid var(--color-black);
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 600px;
  border: none;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .pdf-viewer {
    width: 90%;
    height: 400px;
  }

  .youtube-video {
    width: 90%;
    height: 250px;
    border: none;
  }
}
