.description1,
.label1 {
  position: relative;
  line-height: 140%;
}
.label1 {
  align-self: stretch;
  font-size: var(--font-size-lg);
}
.description1 {
  width: 87px;
  color: var(--text-default-secondary);
  text-align: left;
}
.email-jake32mcgmailcom {
  margin: 0;
}
.value1 {
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.drag-icon1 {
  height: 6.6px;
  width: 6.6px;
  position: absolute;
  margin: 0 !important;
  right: 5px;
  bottom: 6px;
  display: none;
  z-index: 1;
}
.textarea1 {
  align-self: stretch;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-81xl) var(--padding-17xl);
  box-sizing: border-box;
  position: relative;
  min-width: 240px;
  min-height: 80px;
  max-width: 100%;
}
.hint1 {
  width: 240px;
  position: relative;
  line-height: 140%;
  color: var(--text-default-secondary);
  text-align: left;
}
.textarea-field1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
@media screen and (max-width: 750px) {
  .textarea1 {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .textarea1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
